set ftp_address=
set ftp_user=
set ftp_password=
set ftp_certificate=
set remote_server_directory=minecraft/servers/bubble-server
set winscp_directory=C:\Program Files (x86)\WinSCP\
set java_xmx=8192M
set java_xms=8192M